<div class="col-xl-4  col-lg-3  col-md-6  col-sm-6 col-12">
  <div class="s-p-wrapper">
    <div class="single-product mb-35">
      <div class="single-product-img position-relative over-hidden">
        <a class="position-relative d-block" href="product-details.html">
          <img
            class="width100 height100"
            src="images/product/product1.jpg"
            alt="product">
        </a>
        <ul class="product-action d-flex position-absolute transition-3">
          <li
            data-toggle="tooltip"
            data-placement="top"
            title="Add to Cart">
            <a href="cart.html" class="text-center mb-10 white-bg primary-color d-block">
              <span>
                <i class="far fa-shopping-cart"></i>
              </span>
            </a>
          </li>
          <li
            data-toggle="tooltip"
            data-placement="top"
            title="Add to Wishlist">
            <a href="wishlist.html" class="text-center mb-10 white-bg primary-color d-block">
              <span>
                <i class="far fa-heart"></i>
              </span>
            </a>
          </li>
          <li
            data-toggle="tooltip"
            data-placement="top"
            title="Add to Compare">
            <a href="product-details.html" class="text-center mb-10 white-bg primary-color d-block">
              <span>
                <i class="far fa-repeat"></i>
              </span>
            </a>
          </li>
          <li
            data-toggle="tooltip"
            data-placement="top"
            title="Quick view">
            <a
              href="#"
              class="text-center mb-10 white-bg primary-color d-block"
              data-toggle="modal"
              data-target="#product-modal">
              <span>
                <i class="far fa-expand-wide"></i>
              </span>
            </a>
          </li>
        </ul>
      <!-- /view-btn -->
      </div>
      <!-- /single-product-img -->
      <div class="single-product-info position-relative mt-25">
        <h6>
          <a href="product-details.html">Valter Brass Drink Table</a>
        </h6>
        <ul class="single-product-price d-flex transition-3">
          <li>
            <span class="gray-color pr-2">
              <del>$94.00</del>
            </span>
            <span class="primary-color">$66.66</span>
          </li>
        </ul>
      <!-- /single-product-price -->
      </div>
    </div>
  <!-- /single-product -->
  </div>
  <div class="s-p-wrapper">
    <div class="single-product mb-35">
      <div class="single-product-img position-relative over-hidden">
        <a class="position-relative d-block" href="product-details.html">
          <img
            class="width100 height100"
            src="images/product/product5.jpg"
            alt="product">
        </a>
        <ul class="product-action d-flex position-absolute transition-3">
          <li
            data-toggle="tooltip"
            data-placement="top"
            title="Add to Cart">
            <a href="cart.html" class="text-center mb-10 white-bg primary-color d-block">
              <span>
                <i class="far fa-shopping-cart"></i>
              </span>
            </a>
          </li>
          <li
            data-toggle="tooltip"
            data-placement="top"
            title="Add to Wishlist">
            <a href="wishlist.html" class="text-center mb-10 white-bg primary-color d-block">
              <span>
                <i class="far fa-heart"></i>
              </span>
            </a>
          </li>
          <li
            data-toggle="tooltip"
            data-placement="top"
            title="Add to Compare">
            <a href="product-details.html" class="text-center mb-10 white-bg primary-color d-block">
              <span>
                <i class="far fa-repeat"></i>
              </span>
            </a>
          </li>
          <li
            data-toggle="tooltip"
            data-placement="top"
            title="Quick view">
            <a
              href="#"
              class="text-center mb-10 white-bg primary-color d-block"
              data-toggle="modal"
              data-target="#product-modal">
              <span>
                <i class="far fa-expand-wide"></i>
              </span>
            </a>
          </li>
        </ul>
      <!-- /view-btn -->
      </div>
      <!-- /single-product-img -->
      <div class="single-product-info position-relative mt-25">
        <h6>
          <a href="product-details.html">Willmann Concrete & Glass Vase</a>
        </h6>
        <ul class="single-product-price d-flex transition-3">
          <li>
            <span class="primary-color">$66.66</span>
          </li>
        </ul>
      <!-- /single-product-price -->
      </div>
    </div>
  <!-- /single-product -->
  </div>
</div>